In [2]:
import pandas as pd
#pip install tabula -py
#precisa ter o java instalado
import tabula
#pip install python-docx
import docx
from docx import Document
from docx.shared import Inches

In [11]:
npaginas=2,3,4
# armazenando a tabela em um pdf de uma determinada pagina na variavel "tabelas"
tabelas=tabula.read_pdf('estatistica_enem.pdf', pages='2',multiple_tables=True, stream=True)
print(len(tabelas))
# o lattice=True mostra
#[Empty DataFrame
# Columns: [1]
# Index: []]

display(tabelas)

# Imprimindo a tabela de uma forma mais limpa9
for tabela in tabelas:
    display(tabela)

1

[          Produção Emissão de dióxido de carbono
 0   (em toneladas)  (em partes por milhão - ppm)
 1              1,1                          2,14
 2              1,2                          2,30
 3              1,3                          2,46
 4              1,4                          2,64
 5              1,5                          2,83
 6              1,6                          3,03
 7              1,7                          3,25
 8              1,8                          3,48
 9              1,9                          3,73
 10             2,0                          4,00]

          Produção Emissão de dióxido de carbono
0   (em toneladas)  (em partes por milhão - ppm)
1              1,1                          2,14
2              1,2                          2,30
3              1,3                          2,46
4              1,4                          2,64
5              1,5                          2,83
6              1,6                          3,03
7              1,7                          3,25
8              1,8                          3,48
9              1,9                          3,73
10             2,0                          4,00

In [13]:
#Convertendo arquivo .pdf para excel
tabula.convert_into("estatistica_enem.pdf", "excel.csv", output_format="csv", pages='18')

In [1]:
#extraindo todo o texto do pdf com a biblioteca pdfminer
#from pdfminer.high_level import extract_text
#text = extract_text("estatistica_enem.pdf")
#print(text)

In [70]:
#coloquei o encoding="utf-8" pois esse cvs vem com uma codificação diferente e da erro no pandas 
#O UTF-8 é uma das codificações mais usadas, e o Python geralmente o usa por padrão. 
#UTF significa “Unicode Transformation Format”, e o '8' significa que os valores de 8 bits são usados na codificação. 

ler=pd.read_csv('excel.csv',encoding="utf-8")
ler.to_excel('excel.xlsx', index=None,header=True)

In [87]:
#Manipulando arquivos excel
tabela_excel =pd.read_excel('excel.xlsx')
#display(tabela_excel)

#pd.read_excel('exemplo.xlsx', index_col=0,dtype={'Pais': str, 'Ultima atividade': float}) 
tabela_excel

  Candidato Quimica  Fisica
0         I      20      23
1        II       x      25
2       III      21      18

In [88]:
tabela_excel.loc[tabela_excel['Fisica']==25,"Quimica"]= 20
#[linha,coluna]
# as linhas onde a coluna Cia Aérea for igual a Gol , o preço vai mudar para R$ 200

tabela_excel.to_excel('table2.xlsx')
# mudando o nome crio outro arquivo ao inves de atualizar o mesmo

Outro = pd.read_excel('table2.xlsx')
# Index_col tira aquela tabela unnamed 
display(Outro)

   Unnamed: 0 Candidato  Quimica  Fisica
0           0         I       20      23
1           1        II       20      25
2           2       III       21      18

In [81]:
#Manipulando documento word existente

document=docx.Document("Poema.docx")
#lendo o primeiro paragrafo
#document.paragraphs[0].text
#Lendo uma sequenta de instancia
#document.paragraphs[0].runs[0].text[0]

'De tudo, ao meu amor serei atento\nAntes, e com tal zelo, e sempre, e tanto\nQue mesmo em face do maior encanto\nDele se encante mais meu pensamento.\n\nQuero vivê-lo em cada vão momento\nE em louvor hei de espalhar meu canto\nE rir meu riso e derramar meu pranto\nAo seu pesar ou seu contentamento.\n\nE assim, quando mais tarde me procure\nQuem sabe a morte, angústia de quem vive\nQuem sabe a solidão, fim de quem ama\n\nEu possa me dizer do amor (que tive):\nQue não seja imortal, posto que é chama\nMas que seja infinito enquanto dure.'

In [82]:
#Criando um documento.docx

documento =Document()

#Adicionando cabeçalhos
documento.add_heading('Como fazer um pudim', 0)
documento.add_heading('Pudim de caramelo', level=1)

#Adicionando imagem
documento.add_picture("pudimdecaramelo.jpg", width=docx.shared.Inches(6.0),height=docx.shared.Cm(9))

#Adicionando paragrafos com estilos variados
documento.add_paragraph('Confeitarias Juan', style='Intense Quote')
documento.add_paragraph('Ingredientes', style='List Bullet')
documento.add_paragraph('1 lata de leite condensado', style='List Number')
documento.add_paragraph('1 litro de leite', style='List Number')
documento.add_paragraph('4 ovos inteiros', style='List Number')
documento.add_paragraph('2 xícaras de chá mal cheias de açúcar (300g)', style='List Number')
documento.save("Documentei.docx")

In [31]:
#Cabeçalhos
#quanto maior o numero menor a letra
doc = docx.Document()
nome=input("Digite seu nome")
doc.add_heading(nome, 0)
doc.add_heading(nome, 1)
doc.add_heading(nome, 2)
doc.add_heading(nome, 3)
doc.add_heading(nome, 4)
doc.save("Cabeçalhos.docx")

Digite seu nomeJuan

In [84]:
# Adicionando quebras de linha e pagina
doc = docx.Document()
doc.add_paragraph("Primeira pagina aqui!")
doc.paragraphs[0].runs[0].add_break(docx.enum.text.WD_BREAK.PAGE)
doc.add_paragraph("Segunda pagina aqui!")
doc.save("DuasPaginas.docx")

In [41]:
doc = docx.Document()
doc.add_picture("pudimdecaramelo.jpg", width=docx.shared.Inches(6.0),height=docx.shared.Cm(9))
doc.save("imagem.docx")